@use "../breakpoints.scss" as breakpoints;

.hover {
  transition: var(--transition-micro-medium);

  &:hover {
    transform: translateX(var(--static-space-4));
  }
}

.avatar {
  position: sticky;
  height: fit-content;
  top: var(--static-space-64);
  min-width: 160px;
}

// Media queries usando mixins corretamente
@include breakpoints.s {
  .avatar {
    top: auto;
  }

  // Centraliza texto em telas pequenas
  .textAlign {
    text-align: center;
  }

  // Ajuste de alinhamento em telas pequenas
  .blockAlign {
    align-self: center;
  }
}